In [9]:
#VERİ TİPLERİ DÖNÜŞÜMLERİ

sayi = 42
print(type(sayi))

# sayıdan stringe dönüşüm
sayi_str = str(sayi)
print(sayi_str, type(sayi_str))

# stringten sayıya dönüşüm (sayi_str önceden tanımlı olmalı)
sayi_int = int(sayi_str)
print(sayi_int, type(sayi_int))

#Ondalıklı sayı
ondalik = 3.14
print(ondalik, type(ondalik))

# Ondalıklıdan tam sayıya dönüşüm
ondalik_int = int(ondalik)
print(ondalik_int, type(ondalik_int))

<class 'int'>
42 <class 'str'>
42 <class 'int'>
3.14 <class 'float'>
3 <class 'int'>

In [14]:
#YAŞ KARŞILAŞTIRMALARI

#Yaş Değerleri
ali = 25
ayse = 30
mehmet = 20

#Karşılaştırmalar
print("Ali Ayşe'den küçük mü?", ali < ayse)
print("Ayşe Mehmet'ten büyük mü?", ayse < mehmet)
print("Ali ve Mehmet aynı yaşta mı?", ali == mehmet)

#Mantıksal operatörlerle
print("Ali Mehmet'ten büyük VE Ayşe'den küçük mü?", (ali > mehmet) and (ali < ayse))
print("Ali Mehmet'ten küçük VEYA Ayşe'den büyük mü?", (ali < mehmet) or (ali > ayse))

Ali Ayşe'den küçük mü? True
Ayşe Mehmet'ten büyük mü? False
Ali ve Mehmet aynı yaşta mı? False
Ali Mehmet'ten büyük VE Ayşe'den küçük mü? True
Ali Mehmet'ten küçük VEYA Ayşe'den büyük mü? False

In [16]:
#KULLANICIDAN İKİ SAYI ALMA

x = float(input("Birinci sayıyı giriniz: "))
y = float(input("İkinci sayıyı giriniz: "))

print("Toplam:", x + y)
print("Çıkarma:", x - y)
print("Çarpma:", x * y)
print("Bölme:", x / y)

Birinci sayıyı giriniz:  63
İkinci sayıyı giriniz:  7

Toplam: 70.0
Çıkarma: 56.0
Çarpma: 441.0
Bölme: 9.0

In [18]:
#KULLANICI BİLGİLERİ

isim = input("Adınız: ")
yas = input("Yaşınız: ")
sehir = input("Şehriniz: ")
meslek = input("Mesleğiniz: ")

print("Ad:", isim)
print("Yaş:", yas)
print("Şehir:", sehir)
print("Meslek:", meslek)

Adınız:  Alime
Yaşınız:  26
Şehriniz:  Antalya
Mesleğiniz:  Gıda Mühendisi

Ad: Alime
Yaş: 26
Şehir: Antalya
Meslek: Gıda Mühendisi

In [19]:
#STRING İŞLEMLERİ

#ifade tanımlama
ifade = "Hi-kod Veri Bilimi Atölyesi"

#Her bir kelimeyi seçme
print(ifade[0:6]) # "Hi-Kod"
print(ifade[7:11])  # "Veri"
print(ifade[12:18]) # "Bilimi"
print(ifade[19:27]) # "Atölyesi"

#Büyük harf
print(ifade.upper())

#Küçük Harf
print(ifade.lower())

#Rakam dizisinden çift ve tek sayıları seçme

rakamlar = "0123456789"
ciftler = rakamlar[0::2]  # "02468"
tekler = rakamlar[1::2]  # "13579"

print("Çift Sayılar:", ciftler)
print("Tek Sayılar:", tekler)

Hi-kod
Veri
Bilimi
Atölyesi
HI-KOD VERI BILIMI ATÖLYESI
hi-kod veri bilimi atölyesi
Çift Sayılar: 02468
Tek Sayılar: 13579